<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= headerTitle %></title>
</head>
<body>
  <h3><%= headerTitle %></h3>
  <table border=1>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>City</th>
      <th>Email</th>
    </tr>
    <% data.forEach((teacher) => { %>
      <tr>
        <td><%= teacher.firstName %></td>
        <td><%= teacher.lastName %></td>
        <td><%= teacher.city %></td>
        <td><%= teacher.email %></td>
      </tr>
    <% }) %>
  </table>
</body>
</html>